<div class="footer">
    <h3>Our Insurance Partner</h3>
    <div class="moving-div">
        <div class="outer" style="height: 10vh;">
            <div class="move">
                <img src="\images\Star-Health-IPO.jpg" alt="">
                <img src="\images\TPA__raksha TPA.png" alt="">
                <img src="\images\paramount.png" alt="">
                <img src="\images\HDFC-Ergo-logo.png" alt="">
                <img src="\images\Vn.jpeg" alt="">
                <img src="\images\SBI_logo_new_3cd6b90057.png" alt="">
                <img src="\images\Health-india-tpa-1.jpg" alt="">
                <img src="\images\Aditya.jpeg" alt="">
                <img src="\images\logo__Acko.png" alt="">
                <img src="\images\png-clipart-logo-brand-public-relations-product-icici-lombard-travel-insurance-text-public-relations-removebg-preview.png" alt="">
                <img src="\images\apollo.webp" alt="">
                <img src="\images\_TPA__safeway.png" alt="">
                <img src="\images\reliance-general-insurance-svg.png" alt="">
                <img src="\images\chola.png" alt="">
                <img src="\images\bajaj-allianz-general-insurance.webp" alt="">
                <img src="\images\future.png" alt="">
                <img src="\images\Max-Bupa.png" alt="">
                <img src="\images\Star-Health-IPO.jpg" alt="">
                </div>
        </div>
    </div>
        <div class="link">
            <div class="link1">
                <img src="\images\BBMH.png" alt="BBMH.img">
                <p>
                    BBMH Hospital has steadily grown to provide such care to not just the local community, but also the international patients.</p>
            </div>
            <div class="link2">
                <h4>Useful Links</h4>
                <div>
                    <ul>
                        <li><a href="/aboutBBMH">About Hospital</a></li>
                        <li><a href="/doct">Our Doctors</a></li>
                        <li><a href="/blogs">Blog</a></li>
                        <li><a href="/news">News & Media</a></li>
                        <li><a href="/appointment">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="link2">
                <h4>Our Departments</h4>
                <div>
                    <ul>
                        <li><a href="/Gynecology">Gynaecology</a></li>
                        <li><a href="/Neurosurgery">Neurosurgery</a></li>
                        <li><a href="/Plasticsurgery">Plastic Surgery</a></li>
                        <li><a href="/Urology">Urology</a></li>
                        <li><a href="/ent">General Medicine</a></li>
                    </ul>
                </div>
            </div>
            <div class="link2">
                <h4>Contact Us</h4>
                <div>
                    <ul>
                        <li><h6><i class="fa-solid fa-location-dot"></i> R C Vyas Colony, Bhilwara, Rajasthan 311001 </h6></li>
                        <li><h6><i class="fa-solid fa-phone"></i> <a href="tel:+0139194932">+0139194932</a></h6></li>
                        <li><h6><i class="fa-solid fa-envelope"></i>Bbmhbhl@gmail.com</h6></li>
                        <li><a href="https://www.facebook.com/Brijeshbangermemorialhospital/"><h6><i class="fa-brands fa-facebook"></i></fa-brands> FaceBook</h6></a></li>
                        <li><a href="https://www.instagram.com/brijesh_banger/"><h6><i class="fa-brands fa-instagram"></i></i> Instagram</h6></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <p>⚠️ Disclaimer: The information on the Web Site is provided for informational purposes only and is not meant to substitute the advice provided by our doctor or other health care professional. You should not use the information available on or through the Web Site for treating a health problem or disease or prescribing any medication. All images used on this website are for illustrative purposes only,</p>
    </div>
    <div class="rights"><h6>&copy; 2025 BBMH Bhilwara. All Rights Reserved.</h6></div>
