<div class="contact">
    <a href="tel:+918875320446"><i class="fa-solid fa-phone text-danger"></i>+01-12424323</a>
    <a href="mailto:Bbmhbhl@gmail.com"><i class="fa-solid fa-envelope"></i>Bbmhbhl@gmail.com</a></a>

    <div class="social">
        <a href="/#"></a>
        <div class="media">
            <a href="https://www.facebook.com/Brijeshbangermemorialhospital/"><i class="fa-brands fa-facebook"></i></a>
        </div>
      
        <div class="media">
            <a href="https://www.instagram.com/brijesh_banger/"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <button type="button" class="btn btn-primary ms-2"><a style="color: white;" href="/access">Doctor / Receptionist</a></button>
</div>


<div class="sticky-bar">
    
    <div class="menu">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg   sticky-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="\images\hs.jpg" alt="Logo" height="20">
                </a>

                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a   href="/aboutBBMH"  class="nav-link dropdown-toggle"id="aboutDropdown" role="button" data-bs-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/aboutBBMH">About BBMH</a></li>
                                <li><a class="dropdown-item" href="/empanelments">Empanelments</a></li>
                                <li><a class="dropdown-item" href="/doct">Our Doctors</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/ent" class="nav-link dropdown-toggle"  id="servicesDropdown" role="button" data-bs-toggle="dropdown">services</a>
                            <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/ent">General Medicine</a></li>
                                    <li><a class="dropdown-item" href="/Gynecology">Gynecology</a></li>
                                    <li><a class="dropdown-item" href="/Gastrology">Gastroenterology</a></li>
                                    <li><a class="dropdown-item" href="/Neurosurgery">Neurosurgery</a></li>
                                    <li><a class="dropdown-item" href="/JointReplacement">Cardiologist</a></li>
                                    <li><a class="dropdown-item" href="/OrthoPedic">Orthopaedic</a></li>
                                    <li><a class="dropdown-item" href="/Plasticsurgery">Plastic Surgery</a></li>
                                    <li><a class="dropdown-item" href="/SportsInjuries">Opthal(EYE)</a></li>
                                    <li><a class="dropdown-item" href="/Urology">Urology</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/news">News & Media</a></li>
                        <li class="nav-item"><a class="nav-link" href="/blogs">Blogs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/appointment">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="icon">
        <a href="#"><img src="\images\about-nabh.webp" alt="Logo"></a>
    </div>
</div>
