<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBMH Blogs</title>
    <link rel="icon" href="\images\logo.jpg">
    <link rel="Stylesheet" href="index.css">
    <link rel="Stylesheet" href="blogs.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
</head>
<body>

    <%- include('partials/navbar') %>



    <div class="slider"><h2>Our</h2><h2>Latest</h2><h2>Blogs</h2></div>
    <section class="blog-section">
        <div class="blog-container">
            <article class="blog-card">
                <img src="\images\lowBP.jpg" alt="Low Blood Sugar">
                <h3>Low Blood Sugar (Hypoglycemia): Causes, Symptoms, and Prevention</h3>
                <p>Low blood sugar (hypoglycemia) occurs when blood glucose levels drop below normal, causing dizziness, sweating, confusion, and weakness. Eating balanced meals and monitoring glucose levels help prevent and manage it effectively.
                    .</p>
                <a href="#">Read More</a>
            </article>
            <article class="blog-card">
                <img src="\images\Dementia-min.webp" alt="What is Dementia">
                <h3>What is Dementia: Causes, Symptoms, and Risk Factors?</h3>
                <p>Dementia is a brain disorder causing memory loss, confusion, and difficulty in thinking. It worsens over time, but early diagnosis, a healthy lifestyle, and mental exercises can help manage symptoms.</p>
                <a href="#">Read More</a>
            </article>
            <article class="blog-card">
                <img src="\images\leg.jpg" alt="Orthopedic Problems in Winter">
                <h3>Orthopedic Problems in Winter: Common Issues & Prevention Tips</h3>
                <p>Cold weather can worsen orthopedic issues like joint pain, arthritis, and stiffness due to reduced blood flow and muscle tension. Staying active, dressing warmly, and maintaining hydration help prevent discomfort.</p>
                <a href="#">Read More</a>
            </article>
            <article class="blog-card">
                <img src="\images\diab.webp" alt="Diabetes Management">
                <h3>Diabetes Management: Tips for a Healthy Lifestyle</h3>
                <p>Diabetes is a chronic condition affecting blood sugar levels. It requires proper diet, exercise, and medication for management. Controlling diabetes helps prevent complications like heart disease, nerve damage, and kidney issues  </p>
                <a href="#">Read More</a>
            </article>
            <article class="blog-card">
                <img src="\images\lowheart.jpeg" alt="Heart Disease Prevention">
                <h3>Heart Disease Prevention: Key Lifestyle Changes</h3>
                <p>Heart disease includes conditions affecting the heart, like coronary artery disease and heart attacks. Prevention involves a healthy diet, exercise, stress management, and avoiding smoking to maintain heart health.</p>
                <a href="#">Read More</a>
            </article>
            <article class="blog-card">
                <img src="\images\cow.jpeg" alt="Avian Influenza">
                <h3>Avian Influenza (H5N1): Recent Cases and Prevention</h3>
                <p>Avian flu (H5N1) is a viral infection that spreads from birds to humans. It causes severe respiratory issues, fever, and fatigue. Prevention includes avoiding contact with infected birds and proper hygiene.</p>
                <a href="#">Read More</a>
            </article>
            <article class="blog-card">
                <img src="\images\Prevention-of-Malaria.jpg" alt="Malaria Outbreak">
                <h3>Malaria Outbreak: Symptoms and Prevention</h3>
                <p>Malaria is a mosquito-borne disease causing fever, chills, and flu-like symptoms. It spreads through infected mosquito bites. Prevention includes mosquito nets, repellents, and antimalarial medications.</p>
                <a href="#">Read More</a>
            </article>
            <article class="blog-card">
                <img src="\images\A.webp" alt="Sudan Virus Disease">
                <h3>Sudan Virus Disease: Latest Updates and Prevention</h3>
                <p>Sudan virus is a rare but severe strain of Ebola, causing fever, vomiting, bleeding, and organ failure. It spreads through direct contact with bodily fluids. Prevention includes hygiene and avoiding infected areas.</p>
                <a href="#">Read More</a>
            </article>
            <article class="blog-card">
                <img src="\images\_.webp" alt="Mystery Hemorrhagic Fever">
                <h3>Mystery Hemorrhagic Fever: Emerging Health Concern</h3>
                <p>A mystery virus refers to an unidentified or newly emerging infectious disease with unknown origins. Symptoms vary but can include fever, respiratory issues, and organ failure. Research and prevention measures are crucial.
                </p>
                <a href="#">Read More</a>
            </article>
        </div>
    </section>
    
    
    <%- include('partials/footer') %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="blogs.js"></script>
    <script src="index.js"></script>
    
</body>
</html>







