<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBMH (Brijesh Bangar Memorial Hospital)</title>
    <link rel="icon" href="\images\logo.jpg">
    <link rel="stylesheet" href="Gynecology.css">
    <link rel="stylesheet" href="ent.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="Appointment.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
</head>
<body>
    <%- include('partials/navbar') %>

    <div id="overlay" class="overlay"></div>
    <button id="toggleBtn" class="toggle-arrow">
        <span>Book Appointment</span><i></i>
    </button>
    <section id="appointmentSection">
        <%- include('partials/appointmentForm') %>
        <br><br>
    </section>

    <div class="container2">
        <div>
            <h1>BBMH Hospital – Best Gastroenterology Hospital in Bhilwara</h1>
            <img src="\images\stom.jpeg" alt="" class="img">
            <p>
                BBMH Hospital, the premier gastroenterology hospital in Bhilwara, provides advanced digestive health care with top specialists and state-of-the-art diagnostics, ensuring comprehensive and personalized treatment.
            </p>
            <br>
            <p>Gastroenterology is the study of diseases associated with the gastrointestinal system and the digestive process. It encompasses a thorough understanding of the liver, the discharge of waste, gastrointestinal organs, the movement of materials through the stomach and intestines, and the absorption of nutrients.</p>
        </div>

        <div>
            <h2>Role of a Gastroenterologist</h2>
            <p>A gastroenterologist is a medical expert who addresses the diseases affecting the gastrointestinal tract and related organs, which include the liver, small intestine, bile ducts, gallbladder, pancreas, rectum, food pipe, stomach, and colon.</p>
            <ul>
                <li>Liver</li>
                <li>Small intestine</li>
                <li>Bile ducts</li>
                <li>Gallbladder</li>
                <li>Pancreas</li>
                <li>Rectum</li>
                <li>Food pipe</li>
                <li>Stomach</li>
                <li>Colon</li>
            </ul>
        </div>
    </div>

    <div class="container3">
        <div class="wrapper" style="margin-top: 8vh;">
            <img src="\images\800wm.jpeg" alt="">
            <div class="intro">
                <h2>Bowel Resection:</h2>
                <p>Bowel Resection is defined as the removal of any part of the bowel like the small intestine, large intestine, or rectum. They can affect the colon or rectum and stop them from working which causes pain and discomfort, and can also risk your life. The doctor recommends bowel resection for Cancer, Diverticulitis (severe infection), Blockage, and Severe bleeding.</p>
            </div>
        </div>
        <hr>
        <div class="wrapper1">
            <img src="\images\leav.jpeg" alt="">
            <div class="intro1">
                <h2>Liver Resection:</h2>
                <p>Liver Resection is the removal of the portion that lies around the liver. The process is also called hepatectomy, full, or partial. A Liver Resection is done so that the diseased liver is removed from a deceased donor. A living donor also grants a piece of liver tissue that could be obtained through a partial hepatectomy. The resection is performed using a traditional procedure or through obtaining invasive techniques.</p>
            </div>
        </div>
        <hr>
        <div class="wrapper2">
            <img src="\images\ana.jpeg" alt="">
            <div class="intro2">
                <h2>Appendectomy:</h2>
                <p>Appendectomy is the surgery that is been performed to remove the appendix. Appendicitis can be cured by removing the appendix, if it is not treated on time, then it may lead to rupture or burst, and can also cause serious illness, and even death.</p>
                <p>Understanding the problem and its evolving nature needs to be cured to stop its spread. Jaipur Hospital aces this game as they are forefront to curb gastrointestinal diseases through minimally invasive technology affordably. They also ensure that the patient recovers quickly and stays better for to rest of his life.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="video-container">
        
        <div style="padding: 2vh;">
            <h2>Symptoms That Require a Doctor's Appointment at Bhilwara BBMH Hospital</h2>
            <p>Many symptoms originating from common digestive issues may lead to health complications. It is often a mistake to ignore these symptoms, thinking they will resolve without professional help. Consulting a gastroenterologist can protect you from various diseases. Here are some common gastroenterology symptoms that necessitate a doctor's visit:</p>
            <ol>
                <li>Abdominal Pain</li>
                <li>Chest Pain</li>
                <li>Nausea</li>
                <li>Heartburn</li>
                <li>Gas</li>
                <li>Belching</li>
                <li>Sudden Weight Gain</li>
                <li>Sudden Weight Loss</li>
                <li>Sudden Changes in Bowel Schedule</li>
                <li>Excessive Constipation or Diarrhea</li>
                <li>Indigestion</li>
            </ol>
            <p>Approaching Bhilwara BBMH Hospital for these symptoms might provide you with effective solutions. Make the right choice and consult the hospital for your gastrointestinal health concerns.</p>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("toggleBtn").addEventListener("click", function () {
                let appointmentSection = document.getElementById("appointmentSection");
                appointmentSection.style.display = (appointmentSection.style.display === "none" || appointmentSection.style.display === "") ? "block" : "none";
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("toggleBtn").addEventListener("click", function () {
                window.scrollTo({
                    top: 10,
                    behavior: "smooth"
                });
            });
        });
    </script>

    <script>
        (() => {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
</body>
</html>