<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBMH (Brijesh Bangar Memorial Hospital)</title>
    <link rel="icon" href="\images\logo.jpg">
    <link rel="stylesheet" href="ent.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="Appointment.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
</head>
<body>
    <%- include('partials/navbar') %>

    <div id="overlay" class="overlay"></div>
    <button id="toggleBtn" class="toggle-arrow">
        <span>Book Appointment</span><i></i>
    </button>
    <section id="appointmentSection">
        <%- include('partials/appointmentForm') %>
        <br><br>
    </section>

    <div class="container2">
        <div>
            <h1>BBMH Hospital – Best Orthopedic Hospital in Bhilwara</h1>
            <img src="\images\Orthopedics-1-1.png" alt="" class="img">
            <p>
                BBMH Hospital is renowned for its commitment to orthopedic excellence and patient care. Located in Bhilwara, it stands out as one of the best orthopedic hospitals in the region, dedicated to diagnosing and treating a wide range of musculoskeletal conditions. With a team of highly skilled orthopedic specialists, the hospital provides both surgical and non-surgical treatment options tailored to each patient’s needs.
            </p>
            <br>
            <p>Recognizing the integral role the skeletal system plays in overall body functionality, BBMH Hospital emphasizes the importance of rapid diagnosis and intervention for injuries. Whether dealing with joint pain, sports injuries, or complex back problems, patients receive comprehensive care designed to facilitate quick recovery and restore mobility.</p>
        </div>
        <div>
            <h2>Some of the common Orthopedics problems are:</h2>
            <ul>
                <li>
                    <p><strong>Joint Pain</strong></p>
                    <ol>
                        <li>Can affect any joint in the body.</li>
                        <li>Common among older adults and athletes.</li>
                    </ol>
                </li>
                <li>
                    <p><strong>Sports Injuries</strong></p>
                    <ol>
                        <li>Injuries like sprains, strains, and fractures.</li>
                        <li>Often occur in high-impact sports.</li>
                    </ol>
                </li>
                <li>
                    <p><strong>Back Problems</strong></p>
                    <ol>
                        <li>Includes conditions like herniated discs and sciatica.</li>
                        <li>Can result from poor posture or lifting heavy objects.</li>
                    </ol>
                </li>
                <li>
                    <p><strong>Tendon Injuries</strong></p>
                    <ol>
                        <li>Includes tendonitis and ruptures.</li>
                        <li>Often related to overuse or sudden injuries.</li>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="container3">
        <div class="wrapper" style="margin-top: 8vh;">
            <img src="\images\orthopaedic-conditions.jpg" alt="">
            <div class="intro">
                <h2>Symptoms of Orthopedics Conditions:</h2>
                <ol>
                    <li>Muscle spasms.</li>
                    <li>Swelling of the diseased area.</li>
                    <li>Warmth and redness due to infection or inflammation.</li>
                    <li>Numbness or Weakness.</li>
                    <li>The unusual appearance of joints.</li>
                    <li>Joint stiffness and limited motion.</li>
                    <li>Fatigue connects with joint pain or swelling.</li>
                </ol>
            </div>
        </div>
        <hr>
        <div class="wrapper1">
            <img src="\images\par.jpeg" alt="">
            <div class="intro1">
                <h2>Some Serious Orthopedics Symptoms</h2>
                <ol>
                    <li>Hearing a snapping, grinding, or popping sound during the injury.</li>
                    <li>Severe pain or swelling.</li>
                    <li>Deformity of a joint or bone.</li>
                    <li>Hard to move a joint or extremity.</li>
                    <li>An open wound or bone sticking through the skin.</li>
                </ol>
            </div>
        </div>
    </div>
    <hr>
    <div class="video-container">
        <div style="padding: 2vh;">
            <h2>Why BBMH Hospital is the Best Orthopedic Hospital in Bhilwara</h2>
            <p>BBMH Hospital is recognized as one of the leading orthopedic hospitals in Bhilwara, offering top-quality orthopedic services that prioritize patient care and recovery.</p>
            <br>
            <p>The dedicated team at BBMH Hospital utilizes the latest research and advanced medical techniques to address a wide range of orthopedic conditions. Specialists provide comprehensive treatment for disorders affecting bones, joints, and other musculoskeletal structures.</p>
            <p>Orthopedic surgeons at BBMH Hospital specialize in the care of joints, ligaments, tendons, and bones. Their expertise ensures that patients receive the best guidance in the following areas:</p>
            <ul>
                <li><b>Injury Treatment:</b> Addressing injuries sustained from physical activities or accidents.</li>
                <li><b>Chronic Condition Management:</b> Helping patients with conditions that worsen over time, such as osteoarthritis and osteoporosis.</li>
                <li><b>Pain Relief:</b> Focusing on alleviating discomfort through a variety of treatment options tailored to individual needs.</li>
            </ul>
            <p>The Orthopedics department at BBMH Hospital comprises a team of experienced surgeons, physiotherapists, and pain management experts who collaborate to provide a comprehensive rehabilitation strategy for each patient, ensuring a path toward a healthier, more active life.</p>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("toggleBtn").addEventListener("click", function () {
                let appointmentSection = document.getElementById("appointmentSection");
                appointmentSection.style.display = (appointmentSection.style.display === "none" || appointmentSection.style.display === "") ? "block" : "none";
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("toggleBtn").addEventListener("click", function () {
                window.scrollTo({
                    top: 10,
                    behavior: "smooth"
                });
            });
        });
    </script>

    <script>
        (() => {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
</body>
</html>