<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBMH (Brijesh Bangar Memorial Hospital)</title>
    <link rel="icon" href="\images\logo.jpg">
    <link rel="stylesheet" href="ent.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="Appointment.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
</head>
<body>
    <%- include('partials/navbar') %>

    <div id="overlay" class="overlay"></div>
    <button id="toggleBtn" class="toggle-arrow">
        <span>Book Appointment</span><i></i>
    </button>
    <section id="appointmentSection">
        <%- include('partials/appointmentForm') %>
        <br><br>
    </section>

    <div class="container2">
        <div>
            <h1>BBMH Hospital – Best Urology Hospital in Bhilwara</h1>
            <img src="\images\uro1.jpeg" alt="" class="img">
            <p>Urology is a branch of medicine that deals with the problems of the urinary system in both males and females. It is a very important department in our hospital as it deals with some very delicate and sensitive organs.</p>
            <p>The urinary system includes the kidneys, ureters, bladder, and urethra, and any problems with these organs can cause a lot of discomfort and pain. Urology also deals with the problems of the reproductive system in males. Some of the common problems that urologists deal with are kidney stones, urinary tract infections, prostate problems, bladder problems, and so on.</p>
        </div>
        <div>
            <h2>Some Urology Procedures & Treatment in BBMH</h2>
            <h3>PCNL (Percutaneous Nephrolithotomy Surgery):</h3>
            <p>This kind of surgery is done to remove stones in the kidney in case they are not able to pass on their own. Our team of doctors offers this minimally invasive surgery so that the patient suffers from minimum risk and big stones are removed from the patient’s body.</p>
            <h3>URS (Ureterorenoscopy):</h3>
            <p>This treatment is used for ureter stones. It is a minimally invasive surgery in which the team of doctors at BBMH hospital uses a small telescope that is passed through the urethra into the ureter in order to remove stones.</p>
            <h3>Laparoscopic radical prostatectomy:</h3>
            <p>We offer this minimally invasive procedure for the treatment of prostate cancer. In this, some part or whole of the prostate gland is removed along with any lymph nodes containing cancerous cells that may be located close to the gland. The surgeon makes small incisions to access the prostate and laparoscopic techniques are used to perform prostatectomy.</p>
            <h3>Paediatric urology:</h3>
            <p>Paediatric urology is a special branch of urology that deals with diagnoses, treatment, and management of urinary and genital problems of small children. Our team of paediatric urologists ensures that all diseases related to the urinary tract and genitals of your child are treated with care.</p>
            <h3>Urine Retention:</h3>
            <p>Urine Retention is the inability to empty the bladder completely. This can be gradual or sudden. Our team of experts at BBMH Hospital diagnoses and treats the underlying cause behind urinary retention. The patients are offered treatment in accordance with the severity of their symptoms. It could be due to bladder weakness, bladder stones, benign prostatic hyperplasia, etc.</p>
        </div>
    </div>

    <div class="container3">
        <div class="wrapper" style="margin-top: 8vh;">
            <img src="\images\uro2.jpg" alt="">
            <div class="intro">
                <h2>Functions of Urology</h2>
                <p>Urology is a specialized branch of medicine that focuses on the diagnosis and treatment of disorders related to the urinary tract and male reproductive system. This field encompasses a wide range of conditions, including urinary incontinence, kidney stones, bladder infections, and prostate issues. Urologists are highly trained to perform both medical and surgical interventions, utilizing advanced technologies such as minimally invasive techniques and robotic surgery to enhance patient recovery and outcomes.</p>
            </div>
        </div>
    </div>

    <hr>
    <div class="video-container">
        <div style="padding: 2vh;">
            <h2>Some of the most found Urologic Diseases:</h2>
            <p>Below-mentioned are some of the common urologic disorders:</p>
            <h6><strong>Benign Prostatic Hyperplasia:</strong></h6>
            <p>Benign Prostatic Hyperplasia is defined as the expansion in the size of the prostate gland, which is mostly found in older men. BPH can directly invite cancer, and its symptoms can be noticed by the pressure that an increased prostate can place on the urethra. The urethra is defined as the narrow tube that takes urine from the bladder and then relieves it out of the body.</p>
            <h6><strong>Urinary Incontinence:</strong></h6>
            <p>Urinary Incontinence is caused when the bladder becomes uncontrollable, which results in the inconvenient leakage of urine. Some of the most common causes include:</p>
            <ol type="i">
                <li>Diabetes</li>
                <li>Urinary tract infections</li>
                <li>Spinal Cord injury</li>
                <li>Severe Constipation</li>
                <li>Parkinson’s and Multiple Sclerosis kind of diseases</li>
                <li>Weak bladder Muscles</li>
                <li>Pregnancy or Childbirth</li>
            </ol>
            <h6><strong>Urinary Tract Infections:</strong></h6>
            <p>UTI is caused by pathogenic bacteria or viruses that enter the urinary tract and give birth to unwanted infection. These are most commonly found in women, and least in men. Some of the common symptoms are burning sensation during urination, frequent need to urinate, and feeling more to urinate even after urinating.</p>
            <h6><strong>Kidney and Ureteral Stones:</strong></h6>
            <p>Kidney Stone is one of the most common problems noticed nowadays. Stones are found in the kidney when there are crystals in the urine or small particles collect or surround these crystals. These stones can cause extensive pain and can also block the way of urine flow. Small stones can be easily discharged from the patient’s body, but larger ones need to be solved on time otherwise they can be problematic.</p>
        </div>
    </div>

    <%- include('partials/footer') %>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("toggleBtn").addEventListener("click", function () {
                let appointmentSection = document.getElementById("appointmentSection");
                appointmentSection.style.display = (appointmentSection.style.display === "none" || appointmentSection.style.display === "") ? "block" : "none";
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("toggleBtn").addEventListener("click", function () {
                window.scrollTo({
                    top: 10,
                    behavior: "smooth"
                });
            });
        });
    </script>

    <script>
        (() => {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
</body>
</html>