body {
    font-family: Arial, sans-serif;
background-color: #fff;
    margin: 20px;
}
.container-appointment{
  background: linear-gradient(#fffffffa, rgba(245, 246, 246, 0.79),#fffffffa),
    url('/images/image.png') no-repeat center center fixed;

}
.appointment-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.appointment-details h2 {
    margin-bottom: 15px;
}
.appointment-details ul {
    list-style-type: none;
    padding: 0;
}
.appointment-details ul li {
    margin-bottom: 10px;
}
.action-button {
    margin-top: 20px;
}
.action-button button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
