body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contact {
    height: auto;
    background-color: #1FB8A1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.25vh 1vh;
    transition: background-color 0.3s ease;
}
.contact:hover {
    background-color: #1FB8A1;
}

.contact a {
    text-decoration: none;
    color: white;
    margin: 0.625vh 1vh;
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: black;
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.media {
    margin: 0 0.625vh;
    font-size: 1.25rem;
    color: white;
    background-color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.media a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media:hover {
    transform: scale(1.1);
    background-color: rgb(28, 94, 130);
}

.media i:hover {
    cursor: pointer;
    color: black;
}

.sticky-bar {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 0.25vh 0.625vh rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 1.25vh 2.5vh;
    transition: box-shadow 0.3s ease;
}
.sticky-bar:hover {
    box-shadow: 0 0.5vh 1.25vh rgba(0, 0, 0, 0.2);
}

.icon a img {
    height: 8vh;
    width: auto;
    margin-left: 8vh;
    float: right;
}

.navbar {
    width: 100%;
    background-color: yellowgreen;
    padding: 2.5vh 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.navbar:hover {
    background-color: #669933;
}
.navbar-brand img {
    width: 10vw;
    height: 8vh;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar-nav .nav-item {
    margin: 0.2vh 1vh;
}

.navbar-nav .nav-item {
    margin-right: 1.5vw;
}

.navbar-nav .nav-link {
    color: black !important;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    margin: 0 4vh auto 4vh;
    white-space: nowrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #004d00 !important;
    transform: scale(1.1);
}

.dropdown-menu {
    background-color: black;
    border: none;
    box-shadow: 0 0.4vh 0.6vh rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
    color: #333;
    padding: 1vh 1.5vw;
    transition: background 0.3s, transform 0.2s;
}

.dropdown-menu .dropdown-item:hover {
    background-color: yellowgreen;
    color: black;
    transform: scale(1.05);
}

.navbar-toggler {
    border: none;
    background-color: yellowgreen;
    float: right;
    margin-left: 30vw;
}

.navbar-toggler-icon {
    filter: invert(1);
    float: right;
}
/* Hamburger Menu Styles */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
float: right;

    position: absolute;
    right: 6vh; 
    top:4vh;
    z-index: 1001;


}


@media (max-width: 1224px){
    .icon a img {
        display: none;
    }
  
}
@media (max-width: 991px){
    .icon a img {
        display: none;
    }
  

    .navbar-collapse{
        float: left;
        text-align: left;
        text-decoration:#333;
    }
    .sticky-bar{
        height: auto;
    }
   .hamburger{
    display: flex;
   }
   .bar {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 5px;
  
    transition: all 0.3s ease-in-out;
}


.hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
}
@media (max-width: 468px){
    .hamburger{
        top:7vh;
        float: right;
        right: 10px;
    }
} 

@media (max-width: 768px){
    .hamburger{
        top:7vh;
    float: right;
    }
    .bar {
        display: block;
        height: 4px;
        width: 100%;
        background-color: #333;
        border-radius: 5px;
        transition: all 0.04s ease-in-out;
    }
    
    /* Animation for active state */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .contact {
        flex-direction: row;
        padding: 1vh;
        align-items: center;
        display: none;
    }

    .contact a {
        margin: 0.5vh 0;
    }

    .media {
        margin: 0.5vh;
        font-size: 1.2vw;
        width: 3vw;
        height: 4vw;
    }

    .sticky-bar {
        flex-direction: row;
        padding: 1vh;
    }

    .menu {
        width: 500vh;
        
    }
   
    .navbar-brand img {
        width: 60vw;
        height: 10vh;
    }

    .navbar-toggler {
        margin-left: 0;
     
     
    }
    .navbar-collapse{
        border-radius: 2vh;
        background-color:transparent;
        text-align: left;
        text-decoration:#333;
    }
    .certify {
        padding: 2vh;
        font-size: 1.6vh;
    }
    .icon a img {
        display: none;
    }

    .sticky-bar{
        height: auto;
    }
    
}

.certify {
    background-color: #e9ecef;
    padding: 5vh 2vw;
    text-align: center;
    font-size: 1.8vh;
    color: #555;
    border-radius: 0.8vw;
    margin-top: 2vh;
}

.Special {
    height: 10vh;
    /* background-color: rgb(74, 73, 73); */
    display: flex;
    align-items: center;
    justify-content: center;
    animation: specialFraming 1s ease-in-out;
}

@keyframes specialFraming {
    0% {
        height: 0vh;
        opacity: 0;
    }
    100% {
        height: 10vh;
        opacity: 1;
    }
}


.small p {
    color: transparent;
    background: linear-gradient(to right, rgb(84, 84, 200), #1FB8A1);
    font-size: 4vh;
    margin-top: 2vh;
    font-family:cursive;
    text-align: center;
    -webkit-background-clip: text;
}

#main-containt {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
}

#main-containt .card {
    height: 40vh;
    width: 50vh;
    border: 1px solid #000;
    border-radius: 4vh;
    margin-top: 5vh;
    margin-left: 15vh;
}
.card a img {
    height: 18vh;
    width: 10vw;
    margin-left: 8vw;
    background-color: #47bfca;
    padding: 1vw;
    border-radius: 50%;
    margin-top: 2vh;
}
.text {
    padding-top: 2vh;
    text-align: center;
}
.text a {
    text-decoration: none;
    margin-bottom: 1vh;
    margin-top: 0.5vw;
    color: #001f73;
}

.footer {
    height: 50vh;
}
.card:hover {
    box-shadow: 0.5vh 0.5vw 3vh rgb(146, 146, 143);
}

@media (max-width: 600px) {
    #main-containt {
        width: 100vw;
    }
    #main-containt .card {
        margin: 2vh 2vh;
        width: 100vw;
        border: 1px solid #000;
        border-radius: 6vw;
        padding: 0.2vh;
    }
    
    .card a img {
        margin-left: 25vw;
        width: 40vw;
        height: 15vh;
    }
    
    .Special {
        height: 10vh;
    }
    .small {
        align-items: center;
        justify-content: center;
    }
    .small p {
        justify-content: center;
        align-items: center;
    }
    .icon a img {
        display: none;
    }
}

.info{
    display: flex;
    padding: 0vh 10vw;
}

.information {
    height: 70vh;
    width: 50vw;
    margin-left: 5vw;
}
.information p{
    /* text-align: center; */
    padding-top: 10vh;
    padding-left: 2vh;
    font-weight: 500;
    opacity: 0.7;
}

@media (max-width: 600px) {
    .info{
        display: block;
    }

    .img img{
        width: 80vw;
    }
    .information{
        width: 80vw;
        margin-top: 0;
        margin-left: 0;
    }
    .information p{
        padding-top: 2vh;
    }
}

